.loader-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    margin: 4rem auto;
    height: 100%;
    flex: 1;

    @media (max-width: 48em) {
        margin: 4rem 4rem;
    }
}

.loader {
    width: 12rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1.2rem solid lightblue;
    border-right-color: orange;
    animation: l2 1s infinite linear;

    @media (max-width: 48em) {
        width: 10rem;
        border: 1rem solid lightblue;
        border-right-color: orange;
    }

    &-message {
        text-align: center;

        @media (max-width: 48em) {
            font-size: 2.4rem;
        }
    }

    &-timer {
        opacity: 0.6;
        font-size: 1.8rem;

        @media (max-width: 48em) {
            font-size: 2rem;
        }
    }
}
@keyframes l2 {
    to {
        transform: rotate(1turn);
    }
}
